@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');
@media screen and (max-width: 800px) { 
 h1	{
	top: 20%;
	font-size: 70px;
	margin-top: 20px;
	}
}