* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}

.bold {
  font-weight: bold;
}
.fs-14 {
  font-size: 14px;
}
.fc-5d {
  color: #5d5d5d;
}
.cr-center {
  text-align: center;
}

.site-header{
  background: #fff;
  display: flex;
  padding: 0px 20px;
  padding-top: 20px;
  position: fixed;
  justify-content: space-around;
  width: 100%;
}
.site-logo img{
  height: 70px;;
  width: auto;
}
.topnav-menu{
  display: flex;
  list-style: none;
  margin-top: 13px;
}
.topnav-menu-item{
  margin-left: 40px;
}
.topnav-menu-item a{
  color: #333;
  text-decoration: none;
}

.btn-line,
a.btn-line {
color: #fff;
background-color: #1DBC00;
border-radius: 8px;
padding: 5px 10px;
}
.btn-line:hover,
a.btn-line:hover {
  opacity: 0.7;
}

.top-main {
  height: 940px;
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  padding-top: 130px;
}
.main-img {
  height: 940px;
}

.main-gl {
  background-image: url(/img/maing.svg);
  width: 100vw;
  height: 1731px;
  text-align: center;
  background-position: center;
}
.gl-con {
  text-align: center;
  padding-top: 960px;
}
.cr35 {
  font-size: 35px;
  font-weight: bold;
  font-family: "M PLUS 1p";
}
.cr28 {
  font-size: 28px;
  font-family: "M PLUS 1p"
}
.gl-con > .cr28 {
  font-size: 28px;
  padding-top: 50px;
  font-family: "M PLUS 1p"
}

/*サポート*/
.card-content {
  display: inline-flex;
}
.card-left {
  width: 300px;
  height: 314px;
  margin: 20px 50px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 3px 6px #ccc;
}
.image1 {
  padding-top: 50px;
}
.content1 {
  padding-top: 30px;
  color: #666;
  font-size: 23px;
}

.card-right {
  width: 300px;
  height: 314px;
  margin: 20px 50px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 3px 6px #ccc;
}
.image2 {
  padding-top: 34px;
}
.content2 {
  padding-top: 30px;
  color: #666;
  font-size: 23px;
}

/*~~~~~~~企業ラインアップ~~~~~~*/
.wrap-cd {
  margin-left: 15%;
}
.lineup-card {
  width: 800px;
  height: 521px;
  margin: 20px 50px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 3px 6px #ccc;
}
.image-lineup {
  width: 100%;
  border-radius: 30px 30px 0 0;
  height: 260px;
}
.content-lineup {
  padding: 10px 25px;
  color: #666;
  font-size: 18px;
}
.boxa {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.continuea {
  font-size: 80%;
  margin: 10px 25px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #08f;
  color: #08f;
  background-color: transparent;
  text-decoration: none;
}



.btn,
a.btn,
button.btn {
font-size: 15px;
display: inline-block;
padding: 10px 15px;;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-transition: all 0.3s;
transition: all 0.3s;
text-align: center;
vertical-align: middle;
text-decoration: none;
letter-spacing: 0.1em;
border-radius: 0.5rem;
}

a.btn-border {
  border: 2px solid #08f;
  background: #fff;
}

a.btn-border:hover {
  color: #fff;
  background: #08f;
}

.lineup-l1 {
    margin-left: 25px;
}
.lineup-r1 {
    margin-left: 40px;
}

.lineup-l2 {
  margin-left: 25px;
}
.lineup-r2 {
  margin-left: 25px;
}
.lineup-con {
  margin: 5px 25px;
}

.btn--orange,
a.btn--orange {
color: #fff;
background-color: #FFBC00;
}
.btn--orange:hover,
a.btn--orange:hover {
color: #fff;
background: #FCD361;
}

a.btn--radius {
 border-radius: 100vh;
 width: 200px;
 margin: 0 auto;
 display: block;
}

.card-more {
  margin-top: 50px;
}

.btn--line,
a.btn--line {
color: #fff;
background-color:#1DBC00;
border-radius: 8px;
width: 340px;
line-height: 1.5;
margin: 50px auto;
display: block;
font-size: 31px;
font-weight: bold;
font-family: "M PLUS Rounded 1c";
}
.btn--line:hover,
a.btn--i line:hover {
opacity: 0.7;
}

/*~~~~~~~~~~サイドバ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.side-bar {
width: 300px;
border: 1px solid #E2E2E2;
text-align: left;
border-radius: 0px;
overflow: hidden;
float: right;
margin-top: 60px;
margin-right: 250px;
}
.side-con {
  padding: 10px 0 70px 14px;
  list-style: none;
}
.my-parts-title {
color: #333333;
background: #FFEAB1;
padding: .4em .8em;
font-weight: bold;
}
.my-parts ul {
list-style: none;
padding: 0;
margin: 0;
}
.my-parts ul li {
padding: 0;
margin: 0;
}
.my-parts ul li a {
color: #3F51B5;
font-weight: bold;
text-decoration: none;
display: block;
padding: .4em 1.2em;
border-bottom: 1px dotted #3F51B5;
}
.my-parts ul li:last-child a {
border: none;
}

.card-job5 {
  box-sizing: border-box;
  width: 600px;
  margin: 50px auto;
  margin-left: 242px;
  color: #333;
  border-bottom: 2px solid #FFBC00;
}
.content-job1 {
  border-left: 6px solid #FFBC00;
  padding-left: 10px;
}
.content-job1,
.content-job2 {
  margin: 0;
  padding: 10px 10px;
}

.content-job2 {
  padding: 0.8em 0;
  font-size: 0.8em;
}

.content-job3 {
  margin: 0.8em 0;
  font-size: 0.8em;
  color: #00b5ad;
  cursor: pointer;
  border-radius: 100vh;
  color: #fff;
  background-color: #FFBC00;
  padding: 10px;
  margin-left: auto;
  display: block;
  width: 200px;
  text-align: center;
}

.content-job3:hover {
  opacity: 0.7;
}

table {
  margin: 10px 0;
}
td {
  padding-left: 20px;
}

.footer {
  background: #E2E2E2;
  width: 100%;
  height: 220px;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}
.foot-nav {
  justify-content: space-evenly;
  margin-top: 70px;
  display: flex;
  color: #8B8B8B;
}
.a-tx {
  color: #8B8B8B;
}






@media screen and (max-width: 1639px) {
  .pc { display: none !important; }
  .sp { display: block !important; }

  .top-main {
      width: 100%;
      height: 940px;
      padding-top: 200px;
  }
  

  .lineup-card {
      margin: 20px -70px;
      
  }


}

@media screen and (max-width: 1519px) {
  .side-bar {
      margin-right: 213px;
  }
}

@media screen and (max-width: 1473px) {
  .side-bar {
      margin-right: 183px;
  }
}

@media screen and (max-width: 1473px) {
  .side-bar {
      margin-right: 143px;
  }
}

@media screen and (max-width: 1433px) {
  .side-bar {
      margin-right: 103px;
  }

  .qaimg {
      margin: 50px auto;
  max-width: 670px;
  }
}

@media screen and (max-width: 1343px) {
  .side-bar {
      margin-right: 63px;
  }
  .wrap-cd {
      margin-left: 10%;
  }


}
@media screen and (max-width: 1263px) {
  .boxa {
      margin: 10px 10px;
  }
  .lineup-card {
      width: 590px;
  }
  .wrap-cd {
      margin-left: 20%;
  }
  .side-bar {
      margin-right: 43px;
  }
  .card-job5 {
    margin-left: 152px;
  }
  .footer {
    height: 180px;
  }

}

@media screen and (max-width: 1183px) {
  .side-bar {
      width: 230px;
      margin-right: 53px;
  }
  .lineup-card {
      width: 550px;
  }
  .card-job5 {
    margin-left: 52px;
  }

}

@media screen and (max-width: 907px) {
  .side-bar {
      display: none;
  }
  .wrap-cd {
      display: table;
      margin: 0 auto;
  }
}

@media screen and (max-width: 835px) {
  .genre {
      margin-top: 0;
  }
  .card-content-genre {
      margin: 0 auto;
      display: table;
  }
  .qatx {
      margin-top: 20%;
  }
  .svgq {
      width: 100%;
      min-width: 500px;
  }
  .qaimg {
      margin: 50px auto;
      margin-left: 20px;
      margin-right: 20px;
  }

}

@media screen and (max-width: 779px) {
  .qatx {
      margin-top: 10%;
  }
  .card-left {
      margin: 20px;
  }
  .card-right {
      margin: 20px auto;
  }
}
@media screen and (max-width: 713px) {
  .site-header {
    display: block;
  }
  .topnav-menu {
    margin: 0 14%;
    margin-top: 70px;
  }
  .qatx {
      margin-top: 0px;
  }
}
@media screen and (max-width: 690px) {
  .card-job5 {
    margin-left: 22px;
  }
}
@media screen and (max-width: 651px) {
  .qatx {
      margin-top: 0px;
  }
  .card-job5 {
    width: 500px;

  }
  .footer {
    height: 120px;
}
  .foot-nav {
    margin-top: 30px;
  }
}

@media screen and (max-width: 573px) {
  .card-job5 {
    width: 380px;
    margin: 0 60px;
  }
  .footer {
    height: 290px;
  }
  .foot-nav {
    margin-top: 30px;
    flex-direction: column;
    margin-left: 55px;
}
}

@media screen and (max-width: 510px) {
  .topnav-menu {
    margin: 33px 36px;
    margin-top: 70px;
    flex-direction: column;
    text-align: center;
  }
  .card-job5 {
    margin: 0px 0px;
    
  }
  .top-main{
    padding-top: 310px;
  }
}

@media screen and (max-width: 448px) {
  .btn-line, a.btn-line {
    padding: 5px 9px;
  }
  .card-job5 {
    width: 380px;
    margin: 0px 0px;
  }
}
@media screen and (max-width: 448px){
  .card-job5 {
    width: 346px;

  }
}

@media screen and (max-width: 448px) {

}