* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  width: 100%;
  background-color: #E8E8E8;
}
img {
  width: 100%;
}
.pc { display: block !important; }
.sp { display: none !important; }

.concept {
  background-color: #E8E8E8;
}
.min {
  width: 100%;
}
.topconcept {
  position: relative;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 15px;
}
.topconcept::before{
  content: "";
  position: absolute;
  height: 10px;
  width: 18%;
  background-color: #40B1ED;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.midconcept{
  line-height: 1.0em;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 80px;
}
.midtext {
  font-size: 27px;
  width: 95%;
  height: 250px;
  margin: 0 auto;
  padding: 50px;
  margin-top: -80px;
  text-align: center;
  position: relative;
  background: rgba(255,255,255,0.77);
  border: solid 4px #186AA5;
  border-radius: 30px;
}
.under {
  font-size: 38px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 560px;
}
.under::after{
  content: "";  
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-40%, -50%) rotate(6deg);
  width: 150vw;
  height: 300px;
  background-color: #4E4C4C;
  z-index: -100;
}
.hititumecyan {
  width: 223px;
  padding-top: 47px;
}
h3 {
  padding-bottom: 60px;
  padding-left: 220px;
  color: #fff;
}
h4 {
  font-size: 5px;
  color: #333333;
}
ul {
  font-size: 35px;
  width: 860px;
  top: 14%;
  left: calc(50% + 20px);
  position: absolute;
  z-index: 100;
  transform: translateX(-50%)
}
li {
  padding: 10px;
}
.meeting {
  width: 95%;
  margin: -98px auto;
  display: block;
  position: relative;
}
.foot {
  position: relative;
}
.foottext {
  font-size: 27px;
  width: 95%;
  height: 250px;
  margin: 0 auto;
  padding: 10px;
  margin-top: -350px;
  text-align: center;
  position: relative;
  background: rgba(255,255,255,0.77);
  border: solid 4px #186AA5;
  border-radius: 30px;
}
.footlogo {
  margin-bottom: -34px;
  padding-top: 0px;
  height: 80px;
  width: auto;
  position: relative;
  margin-top: -70px;
  display: inline-block;
}
span {
  line-height: 50px
}
@media screen and (max-width:1000px) {
  ul {
    width: 80%;
  }
  .foottext {
    margin-top: 0;
    height:auto;
    padding: 25px 0;
  }
  .foottext p{
    line-height: 35px;
  }
}
@media screen and (max-width:785px){
  .midtext {
    height: 150px;
    font-size: 22px;
    margin-top: -60px;
    margin: -50px auto;
    padding: 25px;
  }
  h3 {
    font-size: 34px;
    padding-left:0;
  }
  ul {
    font-size: 34px;
  }
  .foottext {
    font-size: 22px;
  }
}
@media screen and (max-width:730px){
  h3 {
    font-size: 30px;
  }
  ul{
    font-size: 28px;
  }
  li{
    padding: 4px;
  }
  .midtext{
    height: 180px;
  }
  h1{
    font-size: 30px;
  }
  .hititumecyan {
    width: 160px;
  }
  .under::after {
    height: 210px;
  }
}
@media screen and (max-width:610px){
  ul{
    font-size: 26px;
  }
  li {
    padding: 2px;
  }
}
@media screen and (max-width:555px){
  .title {
  }
  .title img {
  }
  .topconcept{
    padding-top: 40px;
  }
  .midtext{
    padding: 19px;
  }
  ul{
    top:0;
  }
  h3{
    padding-left: 10px;
    font-size: 32px;
  }
  .midtext{
    font-size: 20px;
  }
}
@media only screen and (max-width:550px) {
.pc { display: none !important; }
.sp { display: block !important; }
}
@media screen and (max-width:465px){
  ul {
    font-size: 24px;
  }
  .midtext{
    margin: -40px auto;
  }
  .foottext {
    font-size: 20px;
  }
  li {
    padding: 1px;
  }
  ul {
    top: -10px;
  }
}
@media screen and (max-width:430px){
  .midtext {
    padding: 13px;
  }
  h3 {
    font-size: 30px;
  }
  ul {
    font-size: 22px;
  }
  .foottext {
    font-size: 18px;
  }
}
@media screen and (max-width:410px){
  h3 {
    font-size: 25px;
  }
  .midtext {
    padding: 7px;
  }
  height: 180px;
}
@media screen and (max-width:400px){
  .midtext {
    padding: 3px;
    height: 188px;
  }
  ul {
    font-size: 20px;
  }
  .hititumecyan {
    width: 150px;
  }
  .midconcept{
    padding: 0 20px 30px 24px;
  }
}


