*{
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 200px;
  background-color: #C8E9F5;
  transform: skewY(5deg);
  position: absolute;
  top: -90px;
  z-index: -9999;
}
.header span {
  
}
.header > * {
  transform: skewY(-6deg);
}
.top {
  /*margin: auto;*/
  display: flex;
  width: 100%;
  /*justify-content: space-between;*/
}
.top > span{
  font-family: "M PLUS 1p";
  width: calc(25% / 2);
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 100px;
  line-height: calc(25vw / 2);
  /*letter-spacing: 25px;*/
  font-weight: bolder;
  margin-top: 55px;
}
.topright {
  z-index: 1;
}
.topleft {
  z-index: 1;
}
.top img {
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 180px;
}
.min {
  display: flex;
  margin: 100px;
}
.mintext {
  font-family: "Sawarabi Mincho";
}
span {
  font-size: 24px;
  line-height: 55px
}
.boldfont {
  font-size: 37px;
  font-weight: bolder;
}
.fontcolor {
  color: #FF7600;
}
.bigfont {
  font-size: 35px;
}
.minimg {
  margin-top: 200px;
  width: 30%;
  height: 30%;
}
.mid {
  margin: 100px;
}
.mid2 {
  margin: 28%;
}
.mid3 {
  margin: 8%;
}
.maru {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
.maruleft {
  display: inline-block;
  width: 300px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #1FAECD;
  text-align:center;
  line-height: 100px;
  font-family: "M PLUS 1p";
  font-weight: bolder;
  font-size: 41px;
}
.marucenter {
  display: inline-block;
  width: 300px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #1FAECD;
  text-align:center;
  line-height: 100px;
  font-family: "M PLUS 1p";
  font-weight: bolder;
  font-size: 41px;
}
.maruright {
  display: inline-block;
  width: 300px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #1FAECD;
  text-align:center;
  line-height: 118px;
  font-weight: bolder;
  font-family: "M PLUS 1p";
}
.hb {
  font-size: 40px; 
}
.slideshow {
	position: relative;
	overflow: hidden;
}
input[name="slideshow"] {
	display: none;
}

/* :::::: slideContents :::::: */
*{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.CSSgal {
    position: relative;
    overflow: hidden;
}

/* SLIDER */

.CSSgal .slider {
    height: auto;
    white-space: nowrap;
    transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
    font-size: 1rem;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    height: 0;
}

.CSSgal .prevNext > div+div {
    visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
    background: #3c3c3c;
    position: absolute;
    width:       60px;
    height:      60px;
    line-height: 60px; /* If you want to place numbers */
    text-align: center;
    opacity: 0.7;
    -webkit-transition: 0.3s;
                    transition: 0.3s;
    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
    left: 0;
}
.CSSgal .prevNext a:hover {
    opacity: 1;
}
.CSSgal .prevNext a+a {
    left: auto;
    right: 0;
}
.slider img {
    width: 100%;
    height: 100%;
}
/* NAVIGATION */

.CSSgal .bullets {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}
.CSSgal .bullets > a {
    display: inline-block;
    width:       30px;
    height:      30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    -webkit-transition: 0.3s;
                    transition: 0.3s;
}
.CSSgal .bullets > a+a {
    background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
    background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: #cdf2ff;}
#s2:target ~ .bullets >*:nth-child(2) {background: #cdf2ff;}
#s3:target ~ .bullets >*:nth-child(3) {background: #cdf2ff;}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
/* More slides? Add here more rules */



.CSSgal{
    color: #fff;    
    text-align: center;
}
.CSSgal .slider h2 {
    margin-top: 40vh;
    font-weight: 200;
    letter-spacing: -0.06em;
    word-spacing: 0.2em;
    font-size: 3em;
}
.CSSgal a {
    border-radius: 50%;
    margin: 0 3px;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}




.foottext {
  margin: 100px 0 -40px 300px;
  font-size: 30px;
}
.foottext2 {
}
.outer{
    overflow: hidden;
    padding: calc(120vw * 0.12) 0;
    position: relative;
  margin-top: -200px;
}
.outer:before{
    background: #C8E9F5;
    content: '';
    position: absolute;
    transform-origin: center;
    transform: rotate(5deg);
    width: 150vw;
    height: calc(100% - 0.11 * (0.11 * 50% + 60vw) * 2);
    left: -50vw;
    z-index: -1;
    bottom: -30px;
}
.btn-circle-flat {
  display: inline-block;
  text-decoration: none;
  background: #F5B421;
  color: #707070;
  width: 350px;
  height: 350px;
  line-height: 280px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
  float: right;
  margin: 0 -80px -340px 0;

  font-weight: bolder;
  -webkit-text-stroke: 1px #000;
  text-stroke: 1px #000;
}

.btn-circle-flat:hover {
  background: #668ad8;
}
.btntext {
  font-size: 40px;
  margin-right: 60px;
}

@media screen and (max-width:465px){
  .top {
    height: 450px;
  }
  .top > span {
    font-size: 40px;
    writing-mode: horizontal-tb;
  }
  .topleft {
    z-index: 1;
  }
  .min {
    margin: 10px;
    display: table;
  }
  .boldfont {
    font-size: 24px;
  }
  span {
    font-size: 14px;
    line-height: 30px;
  }
  .bigfont {
    font-size: 17px;
   }
  .minimg{
    margin-top:0;
    width: 60%;
    height: 30%;
    margin-left: 15%;
  }
  .mid {
    margin: 0;
    text-align: center;
   }
  .midt{
    font-size: 18px;
  }
  .mid2{
    margin: 0;
    font-size: 16px;
  }
  .marucenter {
    font-size: 31px;
    height: 80px;
  }
  .maruright{
    line-height: 40px;
    height: 80px;
  }
  .maruleft{
    height: 80px;    
  }
  .hb{
    line-height: 40px;
    font-size: 31px;
  }
  .mid3{
    margin: 0;
    font-size: 18px;
  }
  .slideContents section img{
    padding: 0;
    margin-top: 20px;
  }
  .foottext{
    margin: 0;
  }
  .foottext2 {
    font-size: 20px;
    margin-left: 20px;
    line-height: 40px;
  }
  .outer{
    margin-top: 0;
  }
  .btn-circle-flat {
    line-height: 150px;
    margin: 0 -70px -310px 0;
    text-align: right;
    height: 360px;
  }
  .btntext {
    font-size: 40px;
    margin-right: 80px;
   }
  .outer:before{
        height: 130px;
  }
  
}
@media screen and (max-width:465px){
   .maruleft{
     font-size: 30px;
  }
   .marucenter{
     font-size: 27px;
   }
}

@media screen and (max-width:450px){
   .maruleft{
     font-size: 25px;
  }
   .marucenter{
     font-size: 22px;
   }
  .maruright{
    font-size: 25px;
  }
  .hb{
    line-height: 40px;
    font-size: 25px;
  }
  .nolmi{
    padding-left: 165px;

  }
  .nolmi2{
    
  }
}


















